<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Firefox Health Report &raquo; Coming Soon!</title>
  <script type="text/javascript">var s_account="mozillaservicesmozcom";</script>
  <script type="text/javascript" src="/js/s_code.js"></script>
  <style type="text/css">
  body {
    font-family: "Trebuchet MS", "Helvetica";
    color: #FFFFFF;
    background-color: #68c0eb;
    border-radius: 6px;
  }
  </style>
</head>
<body>
<div id="shell">
  <h1>We're still gathering data on your browser's health. Stay tuned!</h1>
  <img src="healthreport.png">
</div>
<script type="text/javascript">// <![CDATA[
var s_code=s.t();if(s_code)document.write(s_code);
// ]]></script>
<!-- end SiteCatalyst code version: H.14 -->
</body>
</html>
