@font-face {
    font-family: 'icons';
    src: url('../fonts/icons.eot');
    src: url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
         url('../fonts/icons.woff') format('woff'),
         url('../fonts/icons.ttf') format('truetype'),
         url('../fonts/icons.svg#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}


html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

article, aside, canvas, figure, figure img, figcaption, footer, header, nav, section, audio, video {
    display: block;
}

a img { border: 0; }

/* apply a natural box layout model to all elements */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
  background-color: #fff;
  color: #222;
  margin: 0;
  padding: 0;
  height: 100%;
  font: 400 12px/18px 'Open Sans', sans-serif;
}
header {
    background-color: #f1f4f6;
    border-bottom: 1px solid #cfd9e1;
    padding: 14px;
}
h1 {
    padding-bottom: 14px;
    color: #ff9400;
    font-size: 28px;
    font-weight: 300;
}
h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 2rem;
}
h3 {
    color: #00acff;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
    line-height: 2rem;
}
a:link,
a:visited {
    color: #00acff;
    text-decoration: none;
}
h1 a:link,
h1 a:visited {
    color: #ff9400;
}
dl {
    margin-top: 14px;
}
dt {
    font-weight: 600;
}
dd {
    margin-bottom: 14px;
}
.main {
    background-color: #fafbfc;
    padding: 14px;
    border-bottom: 1px solid #cfd9e1;
}
.main p {
    margin-bottom: 10px;
}
.firefox_icon {
    background: transparent url(../img/icon_firefox.png) 15px 45% no-repeat;
}
.external_icon {
    padding-right: .3rem;
}
.eye_icon,
.eye_off_icon {
    padding: 0 5px 0 0;
    font-size: 24px;
    vertical-align: middle;
}
.data_container span {
    display: block;
    float: right;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 600;
}
footer {
    padding: 14px;
}
.tip {
    width: 100%;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgb(215, 215, 215);
}
.tip h4 {
    background-color: #999;
    color: #fff;
    padding: 7px 7px 7px 14px;
    font-size: 14px;
    font-weight: 600;
}
.tip p {
    position: relative;
    padding: 18px 14px 18px 62px;
}
/* Carousel */
.carousel li {
    display: none;
}
li.active_tip {
    display: block;
}
/* Icons */
.external_icon:before {
    color: #949494;
    font-family: 'icons';
    content: " \f08e";
}
.eye_icon:before {
    color: rgb(129, 188, 46);
    font-family: 'icons';
    content: " \e09d";
}
.eye_off_icon:before {
    color: #949494;
    font-family: 'icons';
    content: " \e102";
}
/* Panel States */
.inactive {
    position: relative;
    left: -760px;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: left 400ms,
                width 400ms,
                opacity 400ms;
}
.active {
    left: 0;
    width: 100%;
    height: auto;
    overflow: visible;
    opacity: 1;
}
/* Breadcrumbs */
.breadcrumbs {
    margin: 14px 0 0 14px;
    padding: 0;
}
.breadcrumbs li {
    display: inline;
}
.share_status {
    display: none;
}
